@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:wght@900&display=swap');

.delete-btn{
    width: 25px;
    height: auto;
}



/*cor principal #b82f27*/
/*cor secundaria #46AFB2*/

/*       Geral             */

* {
    margin: 0;
    padding: 0;
}

p{
    font-size: 17px;
}
.botao{
    font-size: 17px;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    transition: .2s  ;
}
.botao:hover{
    transform: scale(1.1);
    color: #fff;
}

li{
    list-style: none;
}
/*     nav     */

.navBar {
    background: #b82f27;
    padding-inline: 3%;
}

.nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 5px ;
}

.navList{
    display: flex;
    gap: 32px;
    list-style: none;
}

.navList li a {
    font-size: 18px;
    color: #fff;
    padding-block: 16px;
    text-decoration: none;
}

.botao i{
    transition: transform 0.5s ease;
}
.botao:hover i{
    transform: rotate(180deg);
}
/*                      menu dropdown         */
.submenu1, .submenu2{
    display: none;
}
.navList li:hover .submenu1 {
    display: block;
    position: absolute;
    background-color:#b82f27;
    margin-top: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.navList li:hover .submenu1 ul{
    display: block;
}
.navList li:hover .submenu1 ul li{
    width: 150px;
    padding: 10px 5px;
    text-align: center;
    border-radius: 10px;
    transition: .7s;
}
.navList li:hover .submenu1 ul li:hover{
    background-color: #6E1C17;
}

/*          parte 1 do site        */
.topoSite {
    padding: 5% 4%;

}

.interface {
    display: flex;
    gap: 15px;
    justify-content: space-between;
}


/*         lembrete         */

.lembrete {
    max-width: 600px;
    text-align: center;
    border-bottom: 1px solid #b82f27;

}

.lembrete h2 {
    margin-bottom: 3%;
    padding-bottom: 8px;
    border-bottom: 1px solid #b82f27;

}
.lembrete p {
    padding: 2% 0;
    font-family: sans-serif;

}
/*         calendario       */

.calendario {
    max-width: 600px;
    border-bottom: 1px solid #b82f27;
    display: flex;
    flex-wrap: wrap;
}

.diasSemanas{
    display: flex;
    border-bottom: 1px solid #b82f27;
    width: 100%;
    flex-direction: wrap;
}

.calendario .diasSemanas p {
    color: black;
    font-weight: bold;
    display: inline-block;
    width: 14.2%;
}

.numerosDias {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.calendario .numerosDias p{
    display: inline-block;
    width: 14.2%;
    margin: 8px 0;
    color: #555
}
.mesanterior{
    opacity: 0.5;
}
/*              remedios    */

.title{
    display: flex;
    align-items: baseline;
    padding-left: 5%;
    margin-bottom: 5%;
    gap: 5px;

}
.title h1{
    font-size: 26px;
    border-bottom: 1px solid #46AFB2;
}
.title i{
    font-size: 24px;
    color: #46AFB2;
}

.descricao{
    padding-left: 5%;
}
.descricao h2{
    padding-bottom: 5px;
}
.descricao p{
    padding-bottom: 17px;
    padding-left: 5px;
}
/*      rodape       */
.main-footer{
    margin-top: 20%;
    background-color: #b82f27;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

