@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:wght@900&display=swap');

.delete-btn{
    width: 25px;
    height: auto;
}
.edit-btn{
    width: 25px;
    height: auto;
}

.btn{
    color: white;
    background-color: #b82f27;
    border: none;
}

.btn:hover{
    background-color: #b82f27;
}