/* custom.css */

/* Mudar a cor das setas de navegação */
.fc-button {
    color: #fff !important;
    background-color: #46AFB2 !important;
    border: none !important;
}

.fc-button:hover {
    background-color: #46AFB2 !important;
}

.fc-button:focus {
    box-shadow: none !important;
}

/* Alterar a cor dos números dos dias para preto */
.fc-daygrid-day-number {
    color: white !important;
}

/* Estilizar os dias do calendário como botões */
.day-button {
    cursor: pointer;
    transition: background-color 0.3s;
}

.fc-daygrid-day-top{
    background-color: #46AFB2;
}

.day-button:hover {
    background-color: #f0f0f0;
}

.fc-col-header-cell-cushion{
    color: black !important;
}

.fc-event{
    color: black !important;
    border-color: #007A7D !important;     /* Cor da borda */

}

.fc-event-main{
    background-color: #007A7D !important;
}

.fc-daygrid-event-dot {
    background-color: #b82f27 !important; /* Cor do ponto */
    border-color: black !important;     /* Cor da borda */
}