.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribui espaço igualmente entre os elementos dentro do contêiner */
}

.container-fluid {
    display: flex;
    justify-content: space-between; /* Espaça os itens igualmente, incluindo o logo e o menu */
    width: 100%;
}

.logo-text-nav {
    font-family: 'Play', sans-serif;
    font-size: 25px;
    color: white;
}

.logo-image-nav {
    width: 25px;
    height: auto;
}

.nav-link {
    color: white !important;
}