.logo-image-nav {
    width: 25px;  /* Ajuste conforme necessário */
    height: auto;
}

.logo-text-nav {
    font-family: 'Play', sans-serif;
    font-size: 25px;
    color: white;
}

.nav-link {
    color: white !important;  /* Sobrescreve as cores padrão do Bootstrap */
}

.dropdown-menu{
    background-color: #b82f27 !important;

}

.dropdown-item{
    color: white !important;
}

.dropdown-item:hover {
    background-color: #6E1C17 !important;
}

.hamburger {
    display: none;
    border: none;
    background: none;
    cursor: pointer;
    width: 30px;  /* Define a largura do hamburger */
    height: 5px; /* Define a altura suficiente para acomodar as barras */
    position: relative;  /* Importante para posicionar absolutamente os pseudoelementos */
}

.hamburger::before,
.hamburger::after {
    content: " ";
    display: block;
    width: 100%; /* Faz com que as barras preencham a largura do elemento .hamburger */
    height: 3px;
    background: #FFF;
    position: absolute; /* Posicionamento absoluto para alinhamento no centro */
    transition: 0.3s;
}

.hamburger::before {
    top: 0; /* Posiciona a barra no topo do container */
    transform: translateY(-50%); /* Centraliza verticalmente */
}

.hamburger::after {
    bottom: 0; /* Posiciona a barra na base do container */
    transform: translateY(50%); /* Centraliza verticalmente */
}

@media (max-width: 750px) {
    .hamburger {
        display: block;
        z-index: 1;
    }

    .hamburger.active::before {
        transform: rotate(45deg);
    }

    .hamburger.active::after {
        transform: rotate(-45deg);
        top: 0px;
    }
}
