.logo-text-nav {
    font-family: 'Play', sans-serif;
    font-size: 25px;
    color: white;
}

.logo-image-nav {
    width: 25px;
    height: auto;
}

.nav-link {
    color: white !important;
}

.dropdown-menu{
    background-color: #b82f27 !important;
}

.dropdown-item{
font-palette: light !important;

}